<h1>Création d'un nouvel utilisateur</h1>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input [(ngModel)]="user.username" name="username" /></td>
      <td><input [(ngModel)]="user.email" name="email" /></td>
      <td>
        <button
          type="submit"
          class="btn btn-success"
        >
          ✔
        </button>
      </td>
    </tr>
  </tbody>
</table>
</form>