<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <tbody>
    <tr>
      <td>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="user.username"
          placeholder="Nom"
        />
      </td>
      <td>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Email"
        />
      </td>
      <td>
        <button type="submit" (click)="updateComplete.emit()">✔</button>
      </td>
    </tr>
  </tbody>
</form>
